body {
    background-color: #d8e9a6;
    background-color: #f9ffe8;
    font-family: Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
}

/* TEXT DISPLAY */

h1 {
	margin-top: -5px;
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: -5px;
}

.author {
	color: #888;
	font-size: 0.8em;
}

.header {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
}

.help, .note {
	color: #888;
	font-size: 0.8em;
}

.small {
	font-size: 0.8em;
}

.tags {
	color: #048;
	font-size: 0.8em;
}

.warning {
	color: #f55;
	font-weight: bold;
}

/* links */

a, a:visited {
	color: #000000;
}

a:hover {
	color: #595454;
}

a.warning, a.warning:visited {
	color: #f55;
}

a.warning:hover {
	color: #595454;
}

/* QA ELEMENTS */

#admin_buttons {
	float: right;
}

#answer {
	height: 40px;
}

/* backgrounds */

.white_box {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

.green_highlight {
	padding: 5px;
	background-color: #e9f3cc;
	border-radius: 7px;
}

/* spacing */

.largespaceabove {
	margin-top: 20px;
}

.largespaceafter, .largespacebelow {
	margin-bottom: 20px;
}

.smallspaceafter {
	margin-bottom: 5px;
}

.spaceabove {
	margin-top: 10px;
}

.spaceafter, .spacebelow {
	margin-bottom: 10px;
}

.spaceright {
	margin-right: 10px;
}

.indentleft {
	margin-left: 30px;
}

.padright, .padright td {
	padding-right: 8px;
}

.padbottom, .padbottom td {
	padding-bottom: 10px;
}

/* layout */

.center {
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

/* widgets */

input {
    font-family: Verdana, Helvetica, sans-serif;
	font-size: 1em;
	padding: 3px;
	margin-bottom:3px;
}

input[type="button"], input[type=submit] {
	font-size: 0.9em;
	background: rgb(246, 244, 240);
	padding: 4px 5px 4px 5px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
	background: white;
}

input[type="text"][disabled="disabled"] {
	color: #888;
}

.ui-slider-horizontal {
	height: .6em !important;
}

.ui-slider .ui-slider-handle {
	width: 1em !important;
	height: 1em !important;
}

.dialog {
	font-size: 0.9em;
}

div.jqcloud {
	font-size: 8pt;
}
