body {
    background-color: #d8e9a6;
    font-family: Verdana, Helvetica, sans-serif;
	font-size: 0.9em;
}

h1 {
	margin-top: -5px;
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: -5px;
}

.header {
	font-weight: bold;
	font-size: 1.2em;
}

.help {
	color: #888;
	font-size: 0.8em;
}

.warning {
	color: #f55;
	font-weight: bold;
}

.author {
	color: #888;
	font-size: 0.8em;
}

#qcontainer {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

#clusteredIdeas li {
	margin-bottom: 10px;
}

#unclusteredIdeas li {
	margin-bottom: 10px;
}

#answer {
	height: 60px;
}

#charlimit {
	color: #888;
	float: right;
	font-size: 0.7em;
}

#thankyou {
	display: none;
}

#nodups {
	display: none;
}

#note {
	padding: 5px;
	background-color: #e8f9b6;
	border-radius: 7px;
}

#admin_buttons {
	float: right;
}

#mytags {
	padding-left: 20px;
	background-color: #eee;
}